@charset "UTF-8";
@media screen and (max-width: 479px) {
  .container-formulaire {
    padding-top: 80px;
    margin: 5%;
  }
  .container-formulaire h1 {
    padding-bottom: 1%;
    text-shadow: lightgrey 10px 8px;
    border-bottom: 2px solid lightgray;
  }
  .container-formulaire form {
    margin-top: 3%;
    text-align: center;
  }
  .container-formulaire .btn-primary {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .container-formulaire .btn-primary:active {
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .container-formulaire .btn-primary:active .fas {
    color: greenyellow;
  }
  .container-formulaire .btn-primary:not(:disabled):not(.disabled).active, .container-formulaire .btn-primary:not(:disabled):not(.disabled):active, .container-formulaire .show > .btn-primary.dropdown-toggle {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }

  .nav-desktop-active {
    display: none;
  }

  .nav-mobile-active {
    display: block;
  }

  .navbar {
    font-family: "Dosis", sans-serif;
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    border-bottom: 2px solid cyan;
    height: 80px;
  }

  .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
    background: #343a40;
  }
  .navbar-nav .nav-item {
    text-align: Left;
    padding-left: 5%;
    vertical-align: middle;
  }
  .navbar-nav .nav-item .nav-link {
    color: cyan;
    vertical-align: middle;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .navbar-nav .nav-item .nav-link:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .navbar-dark .navbar-toggler-icon {
    text-align: left;
    background-image: url(../img/logo.png), linear-gradient(0deg, rgba(52, 58, 64, 0.4794292717) 14%, #2e4344 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 0;
    border-bottom: 2px solid cyan;
    border-left: 2px solid cyan;
    border-right: 2px solid cyan;
    border-radius: 60px;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .navbar-dark .navbar-toggler-icon:hover {
    background-image: url(../img/logo.gif), linear-gradient(0deg, rgba(0, 255, 255, 0.4794292717) 14%, #343a40 100%);
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .carousel-inner {
    padding-top: 80px;
  }

  .view {
    display: flex;
    justify-content: center;
    background-color: #f1f3f6;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    width: 50%;
    max-width: 500px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .carousel-caption h3 {
    font-family: "Rubik", sans-serif;
    font-weight: thin;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 40%;
  }

  .carousel-caption p {
    background-color: #e44249;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    max-width: 200px;
    font-weight: bold;
  }

  /*Changer les indicateurs y compris au moment de la sélection*/
  .carousel-indicators {
    justify-content: flex-end;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #e44249;
    margin-right: 2rem;
  }

  .carousel-indicators .active, .hover {
    background-color: #e44249;
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(100, 190, 204, 0.5);
  }

  .contenair-1 {
    margin: 0px;
    width: auto;
  }
  .contenair-1 .jumbotron {
    background-color: white;
  }
  .contenair-1 .jumbotron h1 {
    border-bottom: 2px solid lightgray;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
    text-shadow: lightgrey 10px 8px;
  }
  .contenair-1 .jumbotron h2 {
    color: gray;
  }
  .contenair-1 .jumbotron p {
    text-align: center;
  }
  .contenair-1 .jumbotron p .btn-primary {
    margin-top: 10%;
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .contenair-1 .jumbotron p .btn-primary:active {
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .contenair-1 .jumbotron p .btn-primary:active .fas {
    color: greenyellow;
  }
  .contenair-1 .jumbotron p .btn-primary:not(:disabled):not(.disabled).active, .contenair-1 .jumbotron p .btn-primary:not(:disabled):not(.disabled):active, .contenair-1 .jumbotron p .show > .btn-primary.dropdown-toggle {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }

  .border-angle {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0px 3px 0px 0 rgba(146, 141, 141, 0.4);
  }

  .border-angle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 47%;
    border: 1em solid black;
    border-color: transparent transparent lightgray lightgray;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -5px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }

  .contenair-2 {
    display: block;
    margin: 10% 0% 2% 0%;
  }
  .contenair-2 .col, .contenair-2 .col-1, .contenair-2 .col-10, .contenair-2 .col-11, .contenair-2 .col-12, .contenair-2 .col-2, .contenair-2 .col-3, .contenair-2 .col-4, .contenair-2 .col-5, .contenair-2 .col-6, .contenair-2 .col-7, .contenair-2 .col-8, .contenair-2 .col-9, .contenair-2 .col-auto, .contenair-2 .col-lg, .contenair-2 .col-lg-1, .contenair-2 .col-lg-10, .contenair-2 .col-lg-11, .contenair-2 .col-lg-12, .contenair-2 .col-lg-2, .contenair-2 .col-lg-3, .contenair-2 .col-lg-4, .contenair-2 .col-lg-5, .contenair-2 .col-lg-6, .contenair-2 .col-lg-7, .contenair-2 .col-lg-8, .contenair-2 .col-lg-9, .contenair-2 .col-lg-auto, .contenair-2 .col-md, .contenair-2 .col-md-1, .contenair-2 .col-md-10, .contenair-2 .col-md-11, .contenair-2 .col-md-12, .contenair-2 .col-md-2, .contenair-2 .col-md-3, .contenair-2 .col-md-4, .contenair-2 .col-md-5, .contenair-2 .col-md-6, .contenair-2 .col-md-7, .contenair-2 .col-md-8, .contenair-2 .col-md-9, .contenair-2 .col-md-auto, .contenair-2 .col-sm, .contenair-2 .col-sm-1, .contenair-2 .col-sm-10, .contenair-2 .col-sm-11, .contenair-2 .col-sm-12, .contenair-2 .col-sm-2, .contenair-2 .col-sm-3, .contenair-2 .col-sm-4, .contenair-2 .col-sm-5, .contenair-2 .col-sm-6, .contenair-2 .col-sm-7, .contenair-2 .col-sm-8, .contenair-2 .col-sm-9, .contenair-2 .col-sm-auto, .contenair-2 .col-xl, .contenair-2 .col-xl-1, .contenair-2 .col-xl-10, .contenair-2 .col-xl-11, .contenair-2 .col-xl-12, .contenair-2 .col-xl-2, .contenair-2 .col-xl-3, .contenair-2 .col-xl-4, .contenair-2 .col-xl-5, .contenair-2 .col-xl-6, .contenair-2 .col-xl-7, .contenair-2 .col-xl-8, .contenair-2 .col-xl-9, .contenair-2 .col-xl-auto {
    margin-bottom: 10%;
  }
  .contenair-2 .row {
    padding: 5% 10% 5% 10%;
  }
  .contenair-2 .row .panel {
    box-shadow: 10px 10px 5px 0 rgba(146, 141, 141, 0.4);
    padding-bottom: 60px;
    height: 100%;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .contenair-2 .row .panel:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }
  .contenair-2 .row .panel .panel-heading {
    text-align: center;
    background-color: #343a40;
    border-bottom: 3px solid cyan;
    color: white;
    padding: 5%;
  }
  .contenair-2 .row .panel .panel-heading:hover {
    color: cyan;
  }
  .contenair-2 .row .panel .panel-body {
    font-family: "Dosis", sans-serif;
    text-align: justify;
    padding: 5%;
  }
  .contenair-2 .row .panel .panel-body img {
    padding: 25% 0% 0% 25%;
    width: 70%;
    text-align: center;
  }

  .footer-custom {
    border-top: 2px solid cyan;
    color: lightgray;
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
  }

  .copyright a {
    color: white;
  }

  .btn-top {
    position: fixed;
    padding-bottom: 25px;
    margin-right: -10px;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .btn-top a {
    color: lightgrey;
  }
  .btn-top a:hover {
    color: cyan;
  }
}

/*# sourceMappingURL=mobile.css.map */
