@media screen and (max-width: 479px){
    @import "_mobile_carte.scss";
    @import "_mobile_photo.scss";
    @import "_mobile_contact.scss";
}

header + div{
    padding-top : 7%; 
}
.opacity{
    font-family: 'Dosis', sans-serif;
    font-size: 130%;
}
iframe{
    padding: 1%;
}
ul{
    list-style-type: none;
}
