@media screen and (min-width: 960px){
    @import "_carte.scss";
    @import "_photo.scss";
    @import "_contact.scss";
}

//mise en page du restaurant
header + div{
    padding-top : 7%; 
}
.opacity{
    font-family: 'Dosis', sans-serif;
    font-size: 130%;
    opacity:0;
    transition : 10s ease-in-out;
    &:hover{
        transition : 1s ease-in-out;
        opacity: 1;
    }
}
ul{
    list-style-type: none;
}
