$nav-background-primary: rgb(52,58,64);
$nav-background-primary-linear: linear-gradient(0deg, rgba(52,58,64,1) 4%, rgba(46,67,68,1) 100%);
$nav-background-hover: rgb(0,255,255);
$nav-background-hover-linear: linear-gradient(0deg, rgba(0,255,255,0.47942927170868344) 14%, rgba(52,58,64,1) 100%);
$nav-link: cyan;
$border-logo: 2px solid cyan;
$border-primary: cyan;
$border-second: lightgray;
$panel-heading: #343a40;
$panel-heading-border: 3px solid cyan;
$color_carousel_main : #e44249;
$color_carousel_second : #f1f3f6; 
$color_carousel_third : black; 
$color_carousel_hover : #64becc; 
$width_max_caption : 50%; 
$width_caption : 33%; 
/*on retouche juste la position des indicateurs*/
.carousel-1{

    margin-top: 15%;
}
.carousel-indicators{
    justify-content: center; 
}
.view > .container-fluid{
    figure{
        overflow : hidden; 
    }
    .img_left, .img_right{
        img{
            width : 100%; 
            height : auto; 
        }
    }
}
nav[aria-label]{
    margin-top : 20px;
    display : flex; 
    justify-content: center;
    align-items : center; 
}
