@media screen and (min-width: 960px){
@import "_carte.scss";
@import "_restaurant.scss";
@import "_photo.scss";
@import "_contact.scss";

$nav-background-primary: rgb(52,58,64);
$nav-background-primary-linear: linear-gradient(0deg, rgba(52,58,64,1) 4%, rgba(46,67,68,1) 100%);
$nav-background-hover: rgb(0,255,255);
$nav-background-hover-linear: linear-gradient(0deg, rgba(0,255,255,0.47942927170868344) 14%, rgba(52,58,64,1) 100%);
$nav-link: cyan;
$border-logo: 2px solid cyan;
$border-primary: cyan;
$border-second: lightgray;
$panel-heading: #343a40;
$panel-heading-border: 3px solid cyan;
$color_carousel_main : #e44249;
$color_carousel_second : #f1f3f6; 
$color_carousel_third : black; 
$color_carousel_hover : #64becc; 
$width_max_caption : 50%; 
$width_caption : 33%; 
// Element navigation
.url-index{
    display: none;
}
.navbar{
    font-family: 'Dosis', sans-serif;
    background: $nav-background-primary;
    background: $nav-background-primary-linear;
    border-bottom: 2px solid cyan;
    height: 80px;

}


  // Element Lien & Animation hover
  .nav-desktop-active{
      display: block;
  }
  .nav-mobile-active{
      display: none;
  }
.navbar-nav{
    padding-top: 0;
    padding-bottom: 0;
    
    .nav-item{
        font-size: 120%;
        text-align: center;
        vertical-align: middle;
        padding: 0px 50px 0px 50px;
        .nav-link{
            color: $nav-link;
            vertical-align: middle;
            border-radius: 15px;
            transition : 1s ease-in-out;
            transform : scale(1); 


                &:hover{
                    background: $nav-background-hover;
                    background: $nav-background-hover-linear;
                    -moz-border-radius: 15%;
                    -o-border-radius: 15%;
                    -webkit-border-radius: 15%;
                    border-radius: 15%;
                    transition : 1s ease-in-out;
                    transform : scale(1.1); 

                }
        
        }
    }
}
        // Element Logo : Mise en page + animation hover
        .logo-item{
            margin-right: 50px;
            .logo{
                display: block;
                background-image: url(../img/logo.png), linear-gradient(0deg, rgba(52,58,64,0.47942927170868344) 14%, rgba(46,67,68,1) 100%);
                background-size: cover;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                top: 0;
                padding: 100%;
                border-bottom: $border-logo;
                border-left: $border-logo;
                border-right: $border-logo;
                border-radius: 60px;
                transition : 1s ease-in-out;
                transform : scale(1); 
                    &:hover{
                        background-image: url(../img/logo.gif), linear-gradient(0deg, rgba(0,255,255,0.47942927170868344) 14%, rgba(52,58,64,1) 100%);
                        transition : 1s ease-in-out;
                        transform : scale(1.1); 
    

                    }
            }
        }
    

// Carousel
/*General display*/
.carousel-inner{
    padding-top: 80px;
 }
.view{
    display : flex; 
    justify-content: center; 
    background-color : $color_carousel_second; 
}
.carousel-caption{
    top : 0; 
    bottom : auto; 
    left : 0; 
    right : auto;
    width : $width_max_caption;
    max-width : 500px;
    padding-left : 20px;
    margin-left : 50px;
    margin-top : 50px; 
}
.carousel-caption h3{
    font-family : 'Rubik', sans-serif;
    font-weight : thin; 
    text-align : left; 
    color : $color_carousel_third; 
    text-transform: uppercase; 
    font-size : 2.5em;
    margin-bottom : 40%;
}
.carousel-caption p {
   background-color : $color_carousel_main; 
   border-radius : 5px; 
   text-transform : uppercase; 
   color : white; 
   padding : 20px;
   max-width : 200px;
   font-weight : bold; 
}

 /*Changer les indicateurs y compris au moment de la sélection*/
 .carousel-indicators{
     justify-content: flex-end; 
 }
 .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border : 2px solid $color_carousel_main; 
    margin-right : 2rem; 
}
.carousel-indicators .active, .hover {
    background-color : $color_carousel_main;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color : rgba($color_carousel_hover, 0.5);
}



// Element contenu n°1
    .contenair-1{
        margin: 0px;
        width: auto;
        // Customisation Jumbotron
        .jumbotron{
            background-color: white;

            h1{
                border-bottom: 2px solid lightgray;
                font-weight: 400;
                text-align: center;
                margin-bottom: 5%;
                text-shadow: lightgrey 10px 8px;
            }
            h2{
                color: gray;
            }
            p{

                .btn-primary{
                    margin-top: 2%;
                    background-color: rgb(52,58,64);
                    border-color: lightgray;
                    box-shadow: 0 0 0 .2rem rgb(78, 82, 78);
                
                    &:active{
                        background: rgb(52,58,64);
                        background: linear-gradient(0deg, rgba(52,58,64,1) 4%, rgba(46,67,68,1) 100%);
                        box-shadow: 0 0 0 .2rem rgb(78, 82, 78);
                
                        .fas{
                            color : greenyellow;
                        }
                    }
                }
                .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
                    background-color: rgb(52,58,64);
                    border-color: lightgray;
                    box-shadow: 0 0 0 .2rem rgb(78, 82, 78);
                }
                     }

    }
    }
// Element de coupure avec angle
.border-angle {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0px 3px 0px 0 rgba(146, 141, 141, 0.4);
  }
  .border-angle::after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: -0.5em;
      bottom: -2em;
      left: 50%;
      
      border: 1em solid black;
      border-color: transparent transparent lightgray lightgray;
      
      transform-origin: 0 0;
      transform: rotate(-45deg);
      
      box-shadow: -5px 3px 3px 0 rgba(0, 0, 0, 0.4);
    }
// Element contenu n°2
    .contenair-2{
        display: block;
        margin: 2% 0% 2% 0%;
        .col-md-10{
            margin: 0px;
        }
        .row{
            padding: 5% 10% 5% 10%;
            // Customisation des panels
            .panel{

                box-shadow: 10px 10px 5px 0 rgba(146, 141, 141, 0.4);
                height: 100%;
                transition : 1s ease-in-out;
                transform : scale(1); 
                //animation augmentation de la taille 
                &:hover{
                    transition : 1s ease-in-out;
                    transform : scale(1.1); 
                }
            
                    //En-tête des panel
                    .panel-heading{
                        
                        text-align: center;
                        background-color: $panel-heading;
                        border-bottom: $panel-heading-border;
                        color: white;
                        padding: 5%;
                        &:hover{
                            color: cyan;
                            
                        }
                    }
                    //Corp des panels
                    .panel-body{
                        font-family: 'Dosis', sans-serif;
                        text-align: justify;
                        padding: 5%;

                        img{
                            padding: 25% 0% 0% 25%;
                            width: 70%;
                            text-align: center;
                        }
                            
                    }    
            }
        }
    }

    
// Customization du footer
.footer-custom{
    border-top: 2px solid cyan;
    color: lightgray;
    background: $nav-background-primary;
    background: $nav-background-primary-linear;
}
// Modification de la couleur de l'url
.copyright{
    bottom:0;
    right:0;
    a{
    color: white;
    }
}

    }