@media screen and (min-width: 480px) and (max-width: 959px){
    @import "_tablet_carte.scss";
    @import "_tablet_restaurant.scss";
    @import "_tablet_photo.scss";
    @import "_tablet_contact.scss";

    

    $nav-background-primary: rgb(52,58,64);
    $nav-background-primary-linear: linear-gradient(0deg, rgba(52,58,64,1) 4%, rgba(46,67,68,1) 100%);
    $nav-background-hover: rgb(0,255,255);
    $nav-background-hover-linear: linear-gradient(0deg, rgba(0,255,255,0.47942927170868344) 14%, rgba(52,58,64,1) 100%);
    $nav-link: cyan;
    $border-logo: 2px solid cyan;
    $border-primary: cyan;
    $border-second: lightgray;
    $panel-heading: #343a40;
    $panel-heading-border: 3px solid cyan;
    // Element navigation
    .navbar{
        font-family: 'Dosis', sans-serif;
        background: $nav-background-primary;
        background: $nav-background-primary-linear;
        border-bottom: 2px solid cyan;
        height: 80px;
    
    }
    
    
      // Element Lien & Animation hover
    .navbar-nav{
        padding-top: 0;
        padding-bottom: 0;
        background: $nav-background-primary;
        
        .nav-item{
            text-align: Left;
            padding-left: 5%;
            vertical-align: middle;

            .nav-link{
                color: $nav-link;
                vertical-align: middle;
                transition : 1s ease-in-out;
                transform : scale(1); 
    
    
                    &:hover{
                        transition : 1s ease-in-out;
                        transform : scale(1.1); 
    
                    }
            
            }
        }
    }
            // Element Logo : Mise en page + animation hover
            .navbar-dark .navbar-toggler-icon {
                text-align: left;
                background-image: url(../img/logo.png), linear-gradient(0deg, rgba(52,58,64,0.47942927170868344) 14%, rgba(46,67,68,1) 100%);
                background-size: cover;
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                top: 0;
                border-bottom: $border-logo;
                border-left: $border-logo;
                border-right: $border-logo;
                border-radius: 60px;
                transition : 1s ease-in-out;
                transform : scale(1); 
                    &:hover{
                        background-image: url(../img/logo.gif), linear-gradient(0deg, rgba(0,255,255,0.47942927170868344) 14%, rgba(52,58,64,1) 100%);
                        transition : 1s ease-in-out;
                        transform : scale(1.1); 
    

                    }
            
        }
        
    
    // Carousel
        .carousel-inner{
            display: block;
            margin-top: 10%;
            height: 20%;
    
        }
    
    
    // Element contenu n°1
        .contenair-1{
            margin-bottom: 10%;
            width: auto;
            // Customisation Jumbotron
            .jumbotron{
                background-color: white;
    
                h1{
                    border-bottom: 2px solid lightgray;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 5%;
                    text-shadow: lightgrey 10px 8px;
                }
                h2{
                    color: gray;
                }
    
    
             }   
    
        }
    // Element de coupure avec angle
    .border-angle {
        position: relative;
        padding: 1em;
        box-sizing: border-box;
        box-shadow: 0px 3px 0px 0 rgba(146, 141, 141, 0.4);
      }
      .border-angle::after{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -0.5em;
          bottom: -2em;
          left: 47%;
          
          border: 1em solid black;
          border-color: transparent transparent lightgray lightgray;
          
          transform-origin: 0 0;
          transform: rotate(-45deg);
          
          box-shadow: -5px 3px 3px 0 rgba(0, 0, 0, 0.4);
        }
    // Element checkbox et animation
    .text{
        display:none;
        border-left: 4px solid gray;
        padding: 10%;
        .lead{
            q{
                font-style: italic;
                font-weight: bolder;
            }
        }
        
    
    }
    // Apparition de la partie texte + shadow box + léger décalage
    input[type=checkbox]:checked ~ div.text{
        display:block;
        transform : translate(0px,30px); 
        box-shadow: 10px 5px 5px lightgray;
    }
    // Element contenu n°2
        .contenair-2{
            display: block;
            margin: 2% 0% 2% 0%;
            .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
                margin-bottom: 10%;
            }
            .row{
                padding: 5% 10% 5% 10%;
                // Customisation des panels
                .panel{
                    box-shadow: 10px 10px 5px 0 rgba(146, 141, 141, 0.4);
                    padding-bottom: 60px;
                    height: 100%;
                    transition : 1s ease-in-out;
                    transform : scale(1); 
                    //animation augmentation de la taille 
                    &:hover{
                        transition : 1s ease-in-out;
                        transform : scale(1.1); 
                    }
                
                        //En-tête des panel
                        .panel-heading{
                            
                            text-align: center;
                            background-color: $panel-heading;
                            border-bottom: $panel-heading-border;
                            color: white;
                            padding: 5%;
                            &:hover{
                                color: cyan;
                                
                            }
                        }
                        //Corp des panels
                        .panel-body{
                            font-family: 'Dosis', sans-serif;
                            text-align: justify;
                            padding: 5%;
    
                            img{
                                padding: 25% 0% 0% 25%;
                                width: 70%;
                                text-align: center;
                            }
                                
                        }    
                }
            }
        }
    
        
    // Customization du footer
    .footer-custom{
        border-top: 2px solid cyan;
        color: lightgray;
        background: $nav-background-primary;
        background: $nav-background-primary-linear;
    }
    // Modification de la couleur de l'url
    .copyright{
        a{
        color: white;
        }
    }



}