@charset "UTF-8";
@media screen and (min-width: 1224px) {
  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */
  .container-carte {
    margin: 5%;
  }

  .box {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  .col-lg-4 {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
  }
  .col-lg-4:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  .explication {
    flex-direction: row;
    justify-content: center;
  }
  .explication ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5%;
  }
  .explication li {
    margin: 0 10px;
    list-style: none;
  }

  .transition-left {
    margin: 5%;
    opacity: 0;
    transition: 2s ease-in-out;
  }
  .transition-left:hover {
    transition: 1s ease-in-out;
    opacity: 1;
  }
  .transition-left:hover .col-md-7 {
    transform: translateX(20px);
    transition: 1s ease-in-out;
  }
  .transition-left:hover .col-md-5 {
    transform: translateX(0px);
    transition: 2s ease-in-out;
  }
  .transition-left .col-md-7 {
    transform: translateX(0px);
    transition: 2s ease-in-out;
  }
  .transition-left .col-md-5 {
    transform: translateX(20px);
    transition: 2s ease-in-out;
  }
  .transition-left .col-md-5 .rounded-circle {
    width: 500px;
    height: 500px;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  /* Featurettes
  ------------------------- */
  .featurette-divider {
    margin: 3em;
    /* Space out the Bootstrap <hr> more */
  }

  .menu .featurette-divider {
    margin: 1rem 0;
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
    margin-top: 5vh !important;
  }

  header + div {
    margin-top: 15%;
  }

  .container-restaurant {
    margin: 10% 15% 10% 15%;
    padding: 3% 3% 3% 3%;
    box-shadow: 0 20px 50px #999a9e;
  }

  .container-animation-restaurant .row {
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px #999a9e;
    color: white;
    padding: 20px;
    border: 2px solid gray;
  }

  .opacity {
    font-family: "Dosis", sans-serif;
    font-size: 130%;
    opacity: 0.1;
    transition: 10s ease-in-out;
  }
  .opacity:hover {
    transition: 1s ease-in-out;
    opacity: 1;
  }

  ul {
    list-style-type: none;
  }

  h2 {
    text-decoration: underline;
  }

  /*General display*/
  .view {
    display: flex;
    justify-content: center;
    background-color: #f1f3f6;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    width: 50%;
    max-width: 500px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .carousel-caption h3 {
    font-family: "Rubik", sans-serif;
    font-weight: thin;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 40%;
  }

  .carousel-caption p {
    background-color: #e44249;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    max-width: 200px;
    font-weight: bold;
  }

  /*Changer les indicateurs y compris au moment de la sélection*/
  .carousel-indicators {
    justify-content: flex-end;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #e44249;
    margin-right: 2rem;
  }

  .carousel-indicators .active, .hover {
    background-color: #e44249;
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(100, 190, 204, 0.5);
  }

  h1 {
    margin: 10% 10% 0% 10%;
    border-bottom: 2px solid lightgray;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
    text-shadow: lightgrey 10px 8px;
  }

  /*on retouche juste la position des indicateurs*/
  .carousel-indicators {
    justify-content: center;
  }

  .container-fluid figure {
    overflow: hidden;
  }
  .container-fluid .img_left img, .container-fluid .img_right img {
    width: 100%;
    height: auto;
  }

  nav[aria-label] {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .para {
    margin-bottom: 5%;
  }

  .container-formulaire {
    padding-top: 80px;
    margin: 5%;
  }
  .container-formulaire h1 {
    padding-bottom: 1%;
    text-shadow: lightgrey 10px 8px;
    border-bottom: 2px solid lightgray;
  }
  .container-formulaire form {
    margin-top: 3%;
  }
  .container-formulaire .btn-primary {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .container-formulaire .btn-primary:active {
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .container-formulaire .btn-primary:active .fas {
    color: greenyellow;
  }
  .container-formulaire .btn-primary:not(:disabled):not(.disabled).active, .container-formulaire .btn-primary:not(:disabled):not(.disabled):active, .container-formulaire .show > .btn-primary.dropdown-toggle {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }

  h1 {
    margin: 10% 10% 0% 10%;
    border-bottom: 2px solid lightgray;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
    text-shadow: lightgrey 10px 8px;
  }

  .url-index {
    display: none;
  }

  .navbar {
    font-family: "Dosis", sans-serif;
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    border-bottom: 2px solid cyan;
    height: 80px;
  }

  .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-nav .nav-item {
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 50px 0px 50px;
  }
  .navbar-nav .nav-item .nav-link {
    color: cyan;
    vertical-align: middle;
    border-radius: 15px;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .navbar-nav .nav-item .nav-link:hover {
    background: aqua;
    background: linear-gradient(0deg, rgba(0, 255, 255, 0.4794292717) 14%, #343a40 100%);
    -moz-border-radius: 15%;
    -o-border-radius: 15%;
    -webkit-border-radius: 15%;
    border-radius: 15%;
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  .logo-item {
    margin-right: 50px;
  }
  .logo-item .logo {
    display: block;
    background-image: url(../../img/logo.png), linear-gradient(0deg, rgba(52, 58, 64, 0.4794292717) 14%, #2e4344 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 0;
    padding: 100%;
    border-bottom: 2px solid cyan;
    border-left: 2px solid cyan;
    border-right: 2px solid cyan;
    border-radius: 60px;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .logo-item .logo:hover {
    background-image: url(../../img/logo.gif), linear-gradient(0deg, rgba(0, 255, 255, 0.4794292717) 14%, #343a40 100%);
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }

  /*General display*/
  .carousel-inner {
    padding-top: 80px;
  }

  .view {
    display: flex;
    justify-content: center;
    background-color: #f1f3f6;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    width: 50%;
    max-width: 500px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .carousel-caption h3 {
    font-family: "Rubik", sans-serif;
    font-weight: thin;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 40%;
  }

  .carousel-caption p {
    background-color: #e44249;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    max-width: 200px;
    font-weight: bold;
  }

  /*Changer les indicateurs y compris au moment de la sélection*/
  .carousel-indicators {
    justify-content: flex-end;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #e44249;
    margin-right: 2rem;
  }

  .carousel-indicators .active, .hover {
    background-color: #e44249;
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(100, 190, 204, 0.5);
  }

  .contenair-1 {
    margin: -25% 0% 0% 0%;
    width: auto;
  }
  .contenair-1 .jumbotron {
    background-color: white;
  }
  .contenair-1 .jumbotron h1 {
    border-bottom: 2px solid lightgray;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
    text-shadow: lightgrey 10px 8px;
  }
  .contenair-1 .jumbotron h2 {
    color: gray;
  }
  .contenair-1 .jumbotron p .btn-primary {
    margin-top: 2%;
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .contenair-1 .jumbotron p .btn-primary:active {
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
    box-shadow: 0 0 0 0.2rem #4e524e;
  }
  .contenair-1 .jumbotron p .btn-primary:active .fas {
    color: greenyellow;
  }
  .contenair-1 .jumbotron p .btn-primary:not(:disabled):not(.disabled).active, .contenair-1 .jumbotron p .btn-primary:not(:disabled):not(.disabled):active, .contenair-1 .jumbotron p .show > .btn-primary.dropdown-toggle {
    background-color: #343a40;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem #4e524e;
  }

  .border-angle {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0px 3px 0px 0 rgba(146, 141, 141, 0.4);
  }

  .border-angle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    border: 1em solid black;
    border-color: transparent transparent lightgray lightgray;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -5px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }

  .contenair-2 {
    display: block;
    margin: 2% 0% 2% 0%;
  }
  .contenair-2 .row {
    padding: 5% 10% 5% 10%;
  }
  .contenair-2 .row .panel {
    box-shadow: 10px 10px 5px 0 rgba(146, 141, 141, 0.4);
    height: 100%;
    transition: 1s ease-in-out;
    transform: scale(1);
  }
  .contenair-2 .row .panel:hover {
    transition: 1s ease-in-out;
    transform: scale(1.1);
  }
  .contenair-2 .row .panel .panel-heading {
    text-align: center;
    background-color: #343a40;
    border-bottom: 3px solid cyan;
    color: white;
    padding: 5%;
  }
  .contenair-2 .row .panel .panel-heading:hover {
    color: cyan;
  }
  .contenair-2 .row .panel .panel-body {
    font-family: "Dosis", sans-serif;
    text-align: justify;
    padding: 5%;
  }
  .contenair-2 .row .panel .panel-body img {
    padding: 25% 0% 0% 25%;
    width: 70%;
    text-align: center;
  }

  .footer-custom {
    border-top: 2px solid cyan;
    color: lightgray;
    background: #343a40;
    background: linear-gradient(0deg, #343a40 4%, #2e4344 100%);
  }

  .copyright a {
    color: white;
  }

  .btn-top {
    position: fixed;
    padding-bottom: 25px;
    margin-right: -20px;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .btn-top a {
    color: lightgrey;
  }
  .btn-top a:hover {
    color: cyan;
  }
}

/*# sourceMappingURL=style.css.map */
