@import 'carrousel.scss'; 

/*on retouche juste la position des indicateurs*/
.carousel-indicators{
    justify-content: center; 
}
.container-fluid{
    figure{
        overflow : hidden; 
    }
    .img_left, .img_right{
        img{
            width : 100%; 
            height : auto; 
        }
    }
}
nav{
    margin-top : 20px;
    display : flex; 
    justify-content: center;
    align-items : center; 
}